* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial Black;
    font-size: 20px;
}

header {
    padding-bottom: 10px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: red;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

div > p {
    font-size: 25px;
}

.aquaColor {
    color: aqua;
}

.logout {
    margin-top: 20px;
}