* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial Black;
    font-size: 20px;
}

header {
    padding-bottom: 10px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: red;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

th, td {
    padding: 2px;
}

div > p {
    font-size: 25px;
}

#loggedIn h2 {
    padding-top: 40px;
}

#logoutBackBtn {
    margin-left: 30px;
}

#changePasswordDiv {
    margin-top: 15px;
}

#logo-angular > img {
    width: 50px;
    margin-left: 680px;
}

.aquaColor {
    color: aqua;
}

.page-header {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.63);
}

.jumbotron {
    padding: 5px;
}

.searchBox {
    border: 1px solid gainsboro;
    box-shadow: 2px -2px 2px #888888;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.logout {
    margin-top: 20px;
}

.lowreg {
    margin-top: 40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}