<h2 class="page-header"><strong class="aquaColor">EDIT Issue</strong></h2>

<div class="row logreg">
    <div class="col-md-4 col-md-offset-4">
        <form name="editIssueForm">

            <label for="editIssueTitle">Title</label>
            <input type="text"
                   id="editIssueTitle"
                   class="form-control form-group"
                   placeholder="Title"
                   required="required"
                   ng-model="issue.Title"
                   ng-value= "issue.Title" />

            <label for="editIssueDescription">Description</label>
            <textarea rows="5"
                      id="editIssueDescription"
                      class="form-control form-group"
                      required="required"
                      placeholder="Description"
                      ng-model="issue.Description"></textarea>

            <label for="editIssueDate">Due Date</label>
            <input type="text"
                   id="editIssueDate"
                   class="form-control form-group"
                   placeholder="mm/dd/yyyy"
                   required="required"
                   ng-model="issue.DueDate"
                   ng-value="issue.DueDate" />

            <div>
                <label for="priorityId">Priority: </label>
                <div>
                    <select id="priorityId"
                            required="required"
                            ng-controller="ProjectDetailController"
                            ng-model="issue.PriorityId">
                        <option value="{{issue.Priority.Id}}">{{issue.Priority.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="searchBox" ng-controller="CommonController">
                <label for="searchName">Get name of user from Assignee input</label>
                <input type="text"
                       id="searchName"
                       placeholder="Name of user"
                       ng-model="val" />
                <button class="btn btn-info"
                        ng-click="getAllUsers(val)">Search by name</button>

                <label for="addAssigneeId"> Assignee: </label>
                <div>
                    <select ng-model="issue.AssigneeId" required="required" id="addAssigneeId" >
                        <option ng-repeat="user in allUsers | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
                    </select>
                </div>
            </div>

            <div>
                <label for="editLabel">Label</label>
                <div>
                    <input name="namesInput"
                           id="editLabel"
                           required="required"
                           ng-model="issue.Labels"
                           ng-list />
                </div>
            </div>

            <div id="editIssueButton">
                <a href="#/issues/{{issue.Id}}">
                    <button class="btn btn-primary pull-right">Cancel</button>
                </a>

                <button type="submit"
                        class="btn btn-danger"
                        ng-disabled="editIssueForm.$invalid"
                        ng-click="editIssue(issue)">Edit Issue</button>
            </div>
        </form>
    </div>
</div>